<b> Strings <b>

In [1]:
my_String = "this is my string"

In [2]:
print(my_String)

this is my string

In [4]:
my_String

'this is my string'

In [5]:
type(my_String)

str

In [6]:
len(my_String)

17

In [7]:
empty_string = ""

In [8]:
len(empty_string)

0

In [10]:
my_String + " " + " this is augmented string"

'this is my string  this is augmented string'

In [11]:
my_String

'this is my string'

<b> Accessing the string elements <b>

In [13]:
my_string = "this is my string"

In [14]:
my_string

'this is my string'

In [15]:
my_string[0]

't'

In [16]:
my_string[2]

'i'

In [18]:
my_string[-1] #reverse indexing

'g'

In [19]:
my_string

'this is my string'

In [20]:
my_string[0:3]

'thi'

In [21]:
my_string[2:6]

'is i'

In [22]:
my_string[2:]

'is is my string'

In [28]:
my_string[-6:-1]

'strin'

In [26]:
my_string[ : : 3]

'tssytn'

<b> built-in function <b>

In [25]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [29]:
my_string.upper()

'THIS IS MY STRING'

In [30]:
my_string

'this is my string'

In [31]:
my_string.isnumeric()

False

In [34]:
string = "     this is new string       "

In [35]:
string.rstrip()

'     this is new string'

In [36]:
string.lstrip()

'this is new string       '

In [37]:
string.strip()

'this is new string'

In [38]:
string = "@@@@@@this is new string       "

In [39]:
string.lstrip("@")

'this is new string       '

In [40]:
line_str = "monu 10 20 30"

In [41]:
type(line_str)

str

In [44]:
splitted = line_str.split()

In [45]:
splitted

['monu', '10', '20', '30']

In [46]:
csv_String = "monu,10,20,30"

In [47]:
splitted = csv_String.split(",")

In [48]:
splitted

['monu', '10', '20', '30']

In [49]:
csv_String.find("monu")

0

In [50]:
In

['',
 'my_String = "this is my string"',
 'print(my_String)',
 'my_string',
 'my_String',
 'type(my_String)',
 'len(my_String)',
 'empty_string = ""',
 'len(empty_string)',
 'my_string + " " + " this is augmented string"',
 'my_String + " " + " this is augmented string"',
 'my_String',
 'my_string',
 'my_string = "this is my string"',
 'my_string',
 'my_string[0]',
 'my_string[2]',
 'my_string[-6]',
 'my_string[-1] #reverse indexing',
 'my_string',
 'my_string[0:3]',
 'my_string[2:6]',
 'my_string[2:]',
 'my_string[-1:-6]',
 'my_string[ : : 2]',
 'dir(str)',
 'my_string[ : : 3]',
 'my_string[-1:]',
 'my_string[-6:-1]',
 'my_string.upper()',
 'my_string',
 'my_string.isnumeric()',
 'string - " this is new string "',
 'string = " this is new string "',
 'string = "     this is new string       "',
 'string.rstrip()',
 'string.lstrip()',
 'string.strip()',
 'string = "@@@@@@this is new string       "',
 'string.lstrip("@")',
 'line_str = "monu 10 20 30"',
 'type(line_str)',
 'splitted = line.split()',
 'splitted = line_Str.split()',
 'splitted = line_str.split()',
 'splitted',
 'csv_String = "monu,10,20,30"',
 'splitted = csv_String.split(",")',
 'splitted',
 'csv_String.find("monu")',
 'In']

In [51]:
name = "sam"

In [52]:
name[0]

's'

In [53]:
name[0] = 'r'

TypeError: 'str' object does not support item assignment

In [54]:
name

'sam'

In [55]:
id(name)

1850897320048

In [56]:
name = 'ram'

In [57]:
name

'ram'

In [58]:
id(name)

1850898625264

In [59]:
name.replace('r','s')

'sam'

In [60]:
name

'ram'

<b> tuple <b>

In [61]:
my_tuple = (1,1.2,True,"manish")

In [62]:
type(my_tuple)

tuple

In [63]:
len(my_tuple)

4

In [64]:
my_tuple[0]

1

In [65]:
my_tuple[3]

'manish'

In [66]:
my_tuple[-1]

'manish'

In [67]:
type(my_tuple)

tuple

In [68]:
type(my_tuple[2])

bool

In [69]:
tuple1 = (1,2,3,4)
tuple2 = (3,4,5,6)

In [70]:
tuple1 + tuple2

(1, 2, 3, 4, 3, 4, 5, 6)

In [71]:
tuple1 * 3

(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)

In [72]:
tuple1

(1, 2, 3, 4)

In [73]:
tuple1

(1, 2, 3, 4)

In [74]:
tuple1[1]

2

In [75]:
tuple1[1] = 20

TypeError: 'tuple' object does not support item assignment

In [76]:
tuple1 = (1,20,3,4)

In [77]:
tuple1

(1, 20, 3, 4)

In [78]:
tuple1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [79]:
tuple1=(1,2,3,4,5)

<b> List <b>

In [80]:
my_empty_list = []

In [81]:
type(my_empty_list)

list

In [82]:
len(my_empty_list)

0

In [83]:
my_list = [1,1.4, 3, True, 'balaji']

In [84]:
len(my_list)

5

In [85]:
my_list[0]

1

In [86]:
my_list[2]

3

In [87]:
my_list[0:3]

[1, 1.4, 3]

In [88]:
my_list[-1]

'balaji'

In [89]:
for ele in my_list:
    print(ele)

1
1.4
3
True
balaji

In [90]:
type(my_list)

list

In [91]:
type(my_list[1])

float

In [92]:
my_list

[1, 1.4, 3, True, 'balaji']

In [93]:
my_list.append("saroj")

In [94]:
my_list

[1, 1.4, 3, True, 'balaji', 'saroj']

In [95]:
my_list[4] = "balajiii"

In [96]:
my_list

[1, 1.4, 3, True, 'balajiii', 'saroj']

In [97]:
my_list.extend([10,46,32])

In [98]:
my_list

[1, 1.4, 3, True, 'balajiii', 'saroj', 10, 46, 32]

In [99]:
id(my_list)

1850897327680

In [100]:
my_list[0] = 100

In [101]:
my_list

[100, 1.4, 3, True, 'balajiii', 'saroj', 10, 46, 32]

In [102]:
id(my_list)

1850897327680

In [103]:
list = (10,35,78,312,556)

In [104]:
sum(list)

991

In [105]:
max(list)

556

In [106]:
min(list)

10

In [108]:
my_list.reverse()

In [109]:
my_list

[32, 46, 10, 'saroj', 'balajiii', True, 3, 1.4, 100]

In [110]:
my_list.reverse()

In [111]:
my_list

[100, 1.4, 3, True, 'balajiii', 'saroj', 10, 46, 32]

In [112]:
my_new_list = [13,76,24,689,1000,44]

In [113]:
my_new_list.sort()

In [114]:
my_new_list

[13, 24, 44, 76, 689, 1000]

In [115]:
my_list.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [116]:
# Diff in list and tuple

list = [1,2,3,4,5]
tup = (1,2,3,4,5)

In [117]:
list

[1, 2, 3, 4, 5]

In [118]:
tup

(1, 2, 3, 4, 5)

In [119]:
list[1] = 1000

In [120]:
list

[1, 1000, 3, 4, 5]

In [121]:
tup[0] = 1000

TypeError: 'tuple' object does not support item assignment

In [122]:
1000 in list

True

In [123]:
3 not in list

False

<b> Set <b>

In [124]:
my_set = {1,2,4,4,5,6,7,1}

In [125]:
my_set

{1, 2, 4, 5, 6, 7}

In [127]:
len(my_set)

6

In [128]:
set = {9,5,2,4,7,1,1,1,}

In [129]:
set

{1, 2, 4, 5, 7, 9}

In [132]:
list1 = [1,3,5,7,9]

In [131]:
set1 = set(list1) #explore ....

TypeError: 'set' object is not callable

In [133]:
set

{1, 2, 4, 5, 7, 9}

In [135]:
set.add(50)

In [136]:
set

{1, 2, 4, 5, 7, 9, 50}

In [137]:
set.pop()

1

In [138]:
set

{2, 4, 5, 7, 9, 50}

In [139]:
set.pop()

2

In [140]:
set1 = {1,2,3,4,5,6}
set2 = {4,2,8,9,10}
set3 = {3,4,5}

In [141]:
set1.intersection(set2)

{2, 4}

In [142]:
set1.union(set3)

{1, 2, 3, 4, 5, 6}

In [143]:
set1 - set2

{1, 3, 5, 6}

In [145]:
set1.difference(set2)

{1, 3, 5, 6}

<b> Dictionary <b>

In [146]:
my_dict = { 1 : "ayushi", 2:"nayank", 3:"pal"}

In [147]:
my_dict

{1: 'ayushi', 2: 'nayank', 3: 'pal'}

In [148]:
type(my_dict)

dict

In [149]:
len(my_dict)

3

In [151]:
my_dict[2]

'nayank'

In [152]:
my_dict[3]

'pal'

In [153]:
my_dict[4] = "harsh"

In [154]:
my_dict

{1: 'ayushi', 2: 'nayank', 3: 'pal', 4: 'harsh'}

In [155]:
my_dict.keys()

dict_keys([1, 2, 3, 4])

In [156]:
my_dict.values()

dict_values(['ayushi', 'nayank', 'pal', 'harsh'])

In [157]:
my_dict.items()

dict_items([(1, 'ayushi'), (2, 'nayank'), (3, 'pal'), (4, 'harsh')])

In [158]:
for key in my_dict.keys():
    print(key)

1
2
3
4

In [159]:
my_dict[1]

'ayushi'

In [160]:
my_dict[1] = "aditi"

In [161]:
my_dict

{1: 'aditi', 2: 'nayank', 3: 'pal', 4: 'harsh'}

In [162]:
dict = { 1 : "ayushi", 1:"aditi", 2:"nayank", 3:"pal"}

In [163]:
dict

{1: 'aditi', 2: 'nayank', 3: 'pal'}

In [164]:
5 is 5

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<ipython-input-164-20faadc7ecbf>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  5 is 5

True

In [165]:
a = 5
b = 5

In [166]:
a is b

True

In [167]:
id(a)

140720319047584

In [168]:
id(b)

140720319047584

In [169]:
b = 1

In [170]:
a is b

False

In [171]:
id(a)

140720319047584

In [172]:
id(b)

140720319047456

In [173]:
list = [1,2,3]

In [174]:
5 in list

False

In [175]:
2 in list

True

In [176]:
id(list)

1850901051584